.booking-form{
	z-index:10000000;
	display:none;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	bottom:0;
	right:0;
	
	.booking-form-close{
		font-size:40px;
		width: 40px;
		height:40px;
		@media(min-width:480px){
			font-size:50px;
			width: 50px;
			height:50px;
		}
		@media(min-width:768px){
			font-size:60px;
			width: 60px;
			height:60px;
		}
		@media(min-width:960px){
			font-size:70px;
			width: 70px;
			height:70px;
		}
		cursor:pointer;
		position:absolute;
		top:$base-margin;
		right:$base-margin;
		text-align:center;
		display:block;
		line-height:1;
	}
	
	.inner{
		@include center(true,true);
		@media(min-width:480px){
			margin-top:-50px;
		}
		@media(min-width:768px){
			margin-top:-100px;
			width: 480px;
		}
		
		@media(min-width:960px){
			width: 550px;
		}
		padding: 12px;
		width: 420px;
		max-width: 100%;
		max-height: 100%;
		overflow: scroll;
	}
	
}