$chat-icon-size-small:40px;
$chat-icon-size:50px;
$chat-icon-size-large:60px;
$chat-border-radius:0px;
$chat-arrow-size:7px;
$chat-line-height:1.5;
$monkey-talk-color:lighten($monkey-green,45);

@keyframes chat_scale{
    from{
        transform: scale(0) translate3d(0,0,0);
    }
    to{
        transform: scale(1) translate3d(0,0,0);
    }
}

.chat-form{
    border:solid darken($monkey-light,10);
    border-width:$base-margin 0px;
    margin:0;
    padding:$base-margin*2 $base-margin;
    
    &:before,
    &:after{
        content:'';
        top:0;
        left:0;
        position:absolute;
        height:$base-margin;
        width:100%;
        display: block;
        background:darken($monkey-light,5);
        
        
    }
    
    &:after{
            top:auto;
            bottom:0;
        }
    
    .inner{
        @extend article;
        max-width: 640px;
        margin:auto;
        padding:$base-margin $chat-icon-size-large;
    }
    
    .h2{
    
    }
    
    .chat-stream{
        
        min-height:300px;
        padding:$base-margin 0 $base-margin*2;
        
        textarea{
            width:100%;
            min-height:$chat-line-height;
            resize: none;
            font-size: inherit;
            border:none;
            outline:none;
            font-family: inherit;
            color:inherit;
            font-weight: inherit;
        }
    }
    
    .chat-entry{
        
        line-height: $chat-line-height;
        background:$monkey-talk-color;
        position:relative;
        box-shadow: $base-shadow;
        padding:$base-margin $base-margin $base-margin;
        margin:$base-margin 0 $base-margin;
        border-radius: $chat-border-radius;
        color:$monkey-black-2;
        font-weight:400;
        transition:all 200ms;
        animation: chat_scale 1 cubic-bezier(.38, .17, .39, 1.13) forwards 120ms;
        
        
        &:before{
            content:'';
            background:$monkey-green url(../libs/img/abe_hvid.svg) no-repeat center;
            background-size: 80%;
            position:absolute;
            height:$chat-icon-size;
            width:$chat-icon-size + $chat-border-radius;
            left: - ($chat-icon-size - $chat-border-radius / 2);
            border-radius: $chat-border-radius;
            top:0;
            z-index:-1;
            transition:all 200ms;
        }
        
        &:after{
            content:'';
            z-index:1;
            display: block;
            background-color:none;
            position:absolute;
            top:0px;
            left: $chat-border-radius - $chat-arrow-size;
            width:0px;
            height:0px;
            border-bottom: $chat-arrow-size solid transparent;
            border-right: $chat-arrow-size solid $monkey-talk-color;
            border-top: $chat-arrow-size solid transparent;
            transition:all 200ms;
        }
        
        
        &.user{
            
            background: $monkey-white;
            
            &:before{
                left:auto;
                top:auto;
                right: - ($chat-icon-size - $chat-border-radius / 2);
                bottom:0;
                background:$monkey-black-2 url(../libs/img/icons/person_white.svg) no-repeat center;
                background-size: 70%;
            }
            
            &:after{
                left:auto;
                top:auto;
                bottom:0px;
                right: $chat-border-radius - $chat-arrow-size;
                border-right:0;
                border-left: $chat-arrow-size solid $monkey-white;

            }
        }
        
        
        &.small{
            font-size: 80%;
            
            &:before{
               
                height:$chat-icon-size-small;
                width:$chat-icon-size-small + $chat-border-radius;
                left: - ($chat-icon-size-small - $chat-border-radius / 2);
            }
            
            &.user:before{
                left:auto;
                right: - ($chat-icon-size-small - $chat-border-radius / 2);
            }
        }
        
        
        &.large{
            font-size: 120%;
            
            &:before{
               
                height:$chat-icon-size-large;
                width:$chat-icon-size-large + $chat-border-radius;
                left: - ($chat-icon-size-large - $chat-border-radius / 2);
            }
            
            &.user:before{
                left:auto;
                right: - ($chat-icon-size-large - $chat-border-radius / 2);
            }
        }
        
        &.typing{
            width: 60px;
            font-size:0;
            color: transparent;
            white-space: nowrap;
            background-image:url('../libs/img/typing.gif');
            background-size:30px;
            background-repeat: no-repeat;
            background-position:center;
        }
        
    }
    
}