$chat-icon-size-small:40px;
$chat-icon-size:50px;
$chat-icon-size-large:60px;
$chat-border-radius:0px;
$chat-arrow-size:7px;
$chat-line-height:1.5;
$monkey-talk-color:darken($monkey-green,10);
$chat-font-weight:300;

@keyframes chat_scale{
    from{
        transform: scale(0) translate3d(0,0,0);
    }
    to{
        transform: scale(1) translate3d(0,0,0);
    }
}

.chat-form{
    border:solid darken($monkey-light,10);
    border-width:$base-margin 0px;
    margin:0;
    padding:$base-margin*2 $base-margin;
    
    &:before,
    &:after{
        content:'';
        top:0;
        left:0;
        position:absolute;
        height:$base-margin;
        width:100%;
        display: block;
        background:darken($monkey-light,5);
        
        
    }
    
    &:after{
            top:auto;
            bottom:0;
        }
    
    .inner{
        @extend article;
        margin:auto;

    }
    
    .chat-stream{
        
        min-height:300px;
        text-align: left;
        position:relative;
        
        padding:$base-margin $chat-icon-size-small $base-margin*2;
        
        @media only screen and(min-width:480px){
            
            padding:$base-margin $chat-icon-size-large $base-margin*2;
        
        }
        
        @media(min-width:768px){
            
            margin:50px 0px 50px;
            padding:$base-margin*2 $chat-icon-size-large $base-margin*4;
            
            &:before{
                content: '';
                border:2px solid darken($monkey-light,15);
                border-top-width:30px;
                border-radius: 3px;
                position: absolute;
                top: -40px;
                left: -40px;
                bottom: -20px;
                right: -40px;
                background:lighten($monkey-light,2);
            }
            
            &:after{
                content: '';
                background: url('../libs/img/icons/mac_navs.svg') no-repeat center left;
                position: absolute;
                top: -30px;
                left: -30px;
                height: 10px;
                width: 50px;
                
                
            }
        
        }
        
        textarea{
            width:100%;
            min-height:$chat-line-height;
            resize: none;
            font-size: inherit;
            border:none;
            outline:none;
            font-family: inherit;
            color:inherit;
            font-weight: inherit;
        }
    }
    
    .chat-entry{
        
        line-height: $chat-line-height;
        background:$monkey-white;
        position:relative;
        box-shadow: $base-shadow;
        padding:$base-margin $base-margin $base-margin;
        margin:$base-margin 0 $base-margin;
        border-radius: $chat-border-radius;
        color:$monkey-talk-color;
        font-weight:$chat-font-weight;
        //transition:all 200ms;
        animation: chat_scale 1 cubic-bezier(.38, .17, .39, 1.13) forwards 120ms;
        font-size: 80%;
        min-height:$chat-icon-size-small;

        
        @media only screen and(min-width:480px){
            min-height:$chat-icon-size;
            font-size: 100%;
            
        }
        
        @media only screen and(min-width:640px){
            
            min-height:$chat-icon-size-large;
            font-size: 110%;
        
        }
        
        &:before{
            content:'';
            background:$monkey-green url(../libs/img/abe_hvid.svg) no-repeat center;
            background-size: 80%;
            position:absolute;
            border-radius: $chat-border-radius;
            top:0;
            z-index:-1;
            //transition:all 200ms;
            
            height:$chat-icon-size-small;
            width:$chat-icon-size-small + $chat-border-radius;
            left: - ($chat-icon-size-small - $chat-border-radius / 2);
            
            @media only screen and(min-width:480px){
                
                height:$chat-icon-size;
                width:$chat-icon-size + $chat-border-radius;
                left: - ($chat-icon-size - $chat-border-radius / 2);
            
            }
            
            @media only screen and(min-width:640px){
            
                height:$chat-icon-size-large;
                width:$chat-icon-size-large + $chat-border-radius;
                left: - ($chat-icon-size-large - $chat-border-radius / 2);
            
            }
            
        }
        
        &:after{
            content:'';
            z-index:1;
            display: block;
            background-color:none;
            position:absolute;
            top:0px;
            left: $chat-border-radius - $chat-arrow-size;
            width:0px;
            height:0px;
            border-bottom: $chat-arrow-size solid transparent;
            border-right: $chat-arrow-size solid $monkey-white;
            border-top: $chat-arrow-size solid transparent;
            //transition:all 200ms;
            
            
        }
        
        
        &.user{
            
            background: $monkey-white;
            color:$monkey-black-2;
            
            &:before{
                left:auto;
                top:auto;
                right: - ($chat-icon-size-small - $chat-border-radius / 2);
                bottom:0;
                background:$monkey-black-2 url(../libs/img/icons/person_white.svg) no-repeat center;
                background-size: 70%;
         
                @media only screen and(min-width:480px){
                     right: - ($chat-icon-size - $chat-border-radius / 2);
                    
                }
                
                @media only screen and(min-width:640px){
                    right: - ($chat-icon-size-large - $chat-border-radius / 2);
                    
                }
                
            }
            
            &:after{
                left:auto;
                top:auto;
                bottom:0px;
                right: $chat-border-radius - $chat-arrow-size;
                border-right:0;
                border-left: $chat-arrow-size solid $monkey-white;

            }
        }
        
        
        &.typing{
            width: 60px;
            font-size:0;
            color: transparent;
            white-space: nowrap;
            background-image:url('../libs/img/typing.gif');
            background-size:30px;
            background-repeat: no-repeat;
            background-position:center;
            min-height: 0px;
        }
        
    }
    
}