.footer{
    margin:$base-margin;
    margin-top:50px;
    padding:0px 0px 50px ;
    min-height: 350px;

    .footer-before{
        border-bottom:2px dashed rgba($monkey-black,.5);
        margin-bottom: 20px;
        
        .heart{
            background:$monkey-light;
            width:20px;
            height:20px;
            line-height: 20px;
            text-align: center;
            display: block;
            margin:auto;
            position:relative;
            top:12px;
            font-size: 16px;
            @extend %font-shadow;
        }
        
    }
    
}