.footer{
    margin:$base-margin;
    margin-top:50px;
    padding:0px 0px 50px ;
    min-height: 350px;

    .footer-before{
        border-bottom:2px dashed rgba($monkey-black,.5);
        margin-bottom: 20px;
        
        .heart{
            background:$monkey-light;
        }
        
    }
    
}