.front-work{
    background:$monkey-white;
    padding:60px 0px 60px;
    @media only screen and(min-width:640px){
        padding:80px 0px 120px;
    }
    
    .box-slider a{
        
        overflow: hidden;
        position:relative;
        backface-visibility: hidden;
        
        &:before{
            content:'';
            @extend %fill-all;
            background-color:transparent;
            transition: background .3s;
            z-index:1;
        }        
    
        span{
            @include center(true,true,translate3d(0,0,0));
            transition:top .2s;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(.79, .09, .62, .83);
            display: block;
            color:white;
            font-size: 110%;
            width:100%;
            text-align: center;
            z-index:2;
            backface-visibility: hidden;

   
        
            &:first-of-type{
                margin-top:-12px;
                top:0px;
                font-weight:400;
                text-transform: uppercase;
            }

            &:nth-of-type(2){
                top:100%;
                margin-top:12px;
            }
        
        }
        
        &:hover span:first-of-type,
        &:hover span:nth-of-type(2){
            top:50%;
            transition-delay: 0s;
            
        }
        
        &:hover:before{
            background-color:rgba($monkey-black,.9);
        }
    }
}