$header-transition: 400ms;
$header-transition-timing-function: cubic-bezier(.73, .15, .5, 1.5);
$header-shadow:$base-shadow;

@media only screen and(min-width:768px){
    .home section.header-section{height:0px;}
}
section.header-section{
    height: 50px;
    padding: 0;
    margin: 0;
    overflow: visible;
    z-index: 1000;
}

header.header{
    
    z-index:1000;
    overflow: visible;
    position:absolute;
    background: $monkey-black;
    transition:height $header-transition, width $header-transition, left $menu-transition-time, right $menu-transition-time;
    box-shadow: $header-shadow;
    transition-timing-function:$header-transition-timing-function;
    top:0;
    left:0;
    right:0;
    position:fixed;
    height:50px;
    width:100%;

    .header-logo{
        height:50px;
        width:50px;
        display: block;


        svg{
            fill:$monkey-white;
            position:relative;
            display: block;
            margin:0px auto 0px $base-margin;

            top:12px;
            height:37px;
            width:37px;
            
            .smart,.monkey{
                display: none;
            }
        }
    }

}

@media only screen and(min-width:768px){
    
    .home header.header{
        z-index:1000;
        overflow: visible;
        position:absolute;
        top:75px;
        height:80px;
        width:0px;




        background: $monkey-black;
        transition:height $header-transition, width $header-transition, left $menu-transition-time, right $menu-transition-time;
        box-shadow: $header-shadow;
        transition-timing-function:$header-transition-timing-function;


        &.fixed{
            top:0;
            position:fixed;
            height:50px;
            width:100%;

            .header-logo{
                height:50px;


                svg{
                    top:12px;
                    height:37px;
                    width:37px;
                }
            }
        }
        .header-logo{
            transition:height $header-transition, width $header-transition;
            display: block;
            position:absolute;
            background:$monkey-black;
            width:60px;
            height:50px;
            top:0;
            transition-timing-function:$header-transition-timing-function;

            @media only screen and(min-width:768px){
                height:80px;
                width:95px;
            }


            svg{
                transition:height $header-transition, width $header-transition, top $header-transition, left $header-transition;
                fill:$monkey-white;
                position:relative;
                display: block;
                margin:0px auto 0px $base-margin;

                top:11px;
                height:35px;
                width:35px;


                @media only screen and(min-width:768px){

                    top:14px;
                    height:70px;
                    width:70px;

                }

                transition-timing-function:$header-transition-timing-function;

                .smart,.monkey{
                    display: none;
                }
            }
        }
    }
}
