.hero{

    position:relative;
    height:60vh;
    min-height:400px;
    
    @media only screen and(min-width:768px){
    
        //min-height:400px;
    
    }
    
    overflow:hidden;
    
    .prev-next-right{
        transition: right 500ms;
        transition-timing-function: cubic-bezier(.42, -0.5, .47, 1.14);
        right:-90px;
        
        @media only screen and(min-width:768px){
            right:$base-margin * 2;
            
            &.hide{
                right:-90px;
            }
        }
        
    }
    
    
}

.hero .inner, .flickity-viewport, .flickity-slider{
    @extend %fill-all;
    
    .hero-banner{
        width:100%;
        height:100%;
        @extend %base-padding;
        background-position: center;
        background-size: cover;
        background-color: $monkey-green;
        //background-blend-mode: luminosity;
        
        & *{
            z-index:1;
            position:relative;
            
        }
        /*
        &:before{
            @extend %fill-all;
            content:'';
            z-index:0;
            background:rgba($monkey-green,.5);
            
        }
        */
    
        .hero-banner-text{
            top:50%;
            overflow:hidden;
            width:100%;
            transform: translateY(-50%);

        }

        h3, p{
            @extend %centered-read;
            @extend %font-shadow;
            display: block;
            color:$monkey-white;

        }

        h3{
            font-size:220%;
            text-transform: uppercase;
            padding-bottom: $base-margin;
            border-bottom:2px solid $monkey-white;
            text-align: center;
            font-weight:700;
            margin-top:3px;

        }


        p{

            @extend %article-font-style;
            padding-top:$base-margin;
            font-size:120%;
        }
        
    }
    
    .flickity-page-dots{
        position: absolute;
        bottom:$base-margin * 2;
    }
}

.hero-footer{
    display: none;
    @media only screen and(min-width:640px){
        display: block;
    }
    
    position:relative;
    top:0 - ($base-margin * 7.5);
    height: 0;
    overflow: visible;
    
    a{
        display: inline-block;
        padding:8px $base-margin 8px $base-margin * 2;
        @extend %dark-marker;
        margin:0 0 $base-margin/2;
        box-shadow: $base-shadow;
        
        &:nth-of-type(2){
             margin:0 0 $base-margin;
        }
    }
}