.hero{

    position:relative;
    height:100vh;
    min-height:400px;
    margin:0;
    
    @media only screen and(min-width:768px){
    
        //min-height:400px;
    
    }
    
    overflow:hidden;
    
    .prev-next-right{
        transition: right 500ms;
        transition-timing-function: cubic-bezier(.42, -0.5, .47, 1.14);
        right:-90px;
        
        @media only screen and(min-width:768px){
            right:$base-margin * 2;
            
            &.hide{
                right:-90px;
            }
        }
        
    }
    
    .inner{
        top:$base-margin;
        left:$base-margin;
        right:$base-margin;
        bottom:$base-margin;
    }
    
    
}

.hero .inner, .flickity-viewport, .flickity-slider{
    @extend %fill-all;
    
    .hero-banner{
        width:100%;
        height:100%;
        @extend %base-padding;
        background-position: center;
        background-size: cover;
        background-color: $monkey-green;
        //background-blend-mode: luminosity;
        
        & *{
            z-index:1;
            position:relative;
            
        }
    
        .hero-banner-text{
            top:50%;
            overflow:hidden;
            width:100%;
            transform: translateY(-50%);

        }
        
        .plx-text-layer {
            @extend article;
            position: absolute;
            left:0;
            top: 50%;
            width:100%;
            transform: translate(0,-50%);
            z-index: 10;
            padding:0px $base-margin 80px;   
        }
        
        
        .plx-layer {
            backface-visibility: hidden;
            left:0;
            top:0;
            position: absolute;
            width: 100%;
            background-size: cover;
            background-position: 50% 50%;
            height: 100%;
            
            &.layer-1{
                z-index:5;
            }
            
            &.layer-2{
                z-index:4;
            }
            
            &.layer-3{
                z-index:3;
            }
            
            &.layer-4{
                z-index:2;
            }
            
            &.layer-5{
                z-index:1;
            }
        }  
    }
    
    .flickity-page-dots{
        position: absolute;
        bottom:$base-margin * 2;
        
        .dot{
            
            width:$base-margin;
            height:$base-margin;
            border-radius:$base-margin;
            opacity:1;
            background: darken($monkey-light,10);
            transition:background .2s;
            
            &:hover,
            &.is-selected{
                background: $monkey-black;
            }
        }
    }
}

.hero-footer{
    display: none;
    @media only screen and(min-width:640px){
        display: block;
    }
    
    position:relative;
    top:0 - ($base-margin * 8.5);
    height: 0;
    overflow: visible;
    
    a{
        display: inline-block;
        padding:8px $base-margin 8px $base-margin * 2;
        @extend %dark-marker;
        margin:0 0 $base-margin/2;
        box-shadow: $base-shadow;
        
        &:nth-of-type(2){
             margin:0 0 $base-margin;
        }
    }
}