body{
    transition:right $menu-transition-time;
    transition-timing-function: $header-transition-timing-function;
    right:0;
    width:100%;
    position:relative;
    overflow-x: hidden;
    left:auto;
}



body.menu-out{
    left:auto;
    right:$menu-width;
    
    
    header.header{
        left:-$menu-width;
    }
    
    .top-nav-menu{
        right:0;
    }
    
}

nav.top-nav{
    
    @media only print{
        display: none;
    }
    
    position:absolute;
    right:0;
    top:0;
    padding:0px $base-margin;
    
    ul{
        font-size: 0;
    }
    
    ul li{
        font-size:$base-font-size;
        display: block;
        vertical-align: top;
        color:$monkey-black;
        
        a{
            display: block;
            position:relative;
            height:$header-height;
            line-height:$header-height;
            padding:0px $base-margin;
            font-size:90%;
            transition:background-color 200ms;
            @media only screen and(min-width:640px){
                font-size: 80%;
                text-transform: uppercase;
                border-bottom: 0;
                top:-2;
                
                &:hover{
                    background-color:rgba($monkey-light,.1);
                }
            }
        }
        
        &.current-menu-item a,
        &.current_page_item a{
            background-color:rgba($monkey-light,.1);
        }
        
        &.internal a{
            background:transparent;
            
            &:hover{
                background-color:rgba($monkey-light,.1);
            }
        }
    }
}


.top-nav-menu{
    position:fixed;
    right:-$menu-width;
    width:$menu-width;
    transition:right $menu-transition-time;
    transition-timing-function: $header-transition-timing-function;
    padding:0 $base-margin;
    height:100vh;
    min-height: 500px;
    background:$monkey-light;
    box-shadow: $base-shadow inset;
    color:$monkey-black-2;
    top:0;
    font-siz:150%;
    
    a{
        display: block;
        padding:$base-margin 0;
        border-bottom: 1px solid darken($monkey-light,10);
    }
}
    


.hamburger{
    
    font-size: 0;
    position:absolute;
    top:0;
    right:$base-margin;
    transition: all $menu-transition-time;
    transition-timing-function: $menu-transition-timing-function;
    background:#333 url('../libs/img/icons/menu_white.svg') no-repeat center;
    border-radius: $header-height;
    top: 12px;
    right: 24px;
    
    height:$header-height;
    width:$header-height;
    
    &:hover{
        background-color:rgba($monkey-black,.7);
    }
    
}


.menu-user{
    font-size:90%;
    margin:0 0-$base-margin;
    padding:$base-margin $base-margin $base-margin*2;
    position:relative;
    margin-top:-1px;
    
    header{
        padding:$base-margin / 2 0;
        border-bottom: 1px solid darken($monkey-light,10);
        
        strong{
            font-weight:400;
            padding-left:20px;
            background: url(../libs/img/icons/person.svg) left center no-repeat;
            background-size:15px;
        }
    }
    
    nav{
        font-size:90%;
        a{
            border-bottom:none;
            padding:$base-margin 0 0;
            transition:color .2s;
            
            &.logout:hover{
                color:lighten($monkey-red,30);
            }
        }
    }
    
}