body{
    transition:right $menu-transition-time;
    transition-timing-function: $header-transition-timing-function;
    right:0;
    width:100%;
    position:relative;
    overflow-x: hidden;
    left:auto;
}



body.menu-out{
    left:auto;
    right:$menu-width;
   
    header.header{
        left:-$menu-width;
    }
    
    .top-nav-menu{
        right:0;
    }
    
    .hamburger{
        right:$menu-width;
        @media only screen and(min-width:640px){
            right:$menu-width + $base-margin;
        }
        
    }
    
    @media only screen and(min-width:640px){
        
        .top-nav-menu ul{
            right:50px + $base-margin + $menu-width;
        }
        
    }
    
}

nav.top-nav{
    
    @media only print{
        display: none;
    }
    
    position:absolute;
    right:0;
    top:0;
    padding:0px $base-margin;
    
    ul{
        font-size: 0;
    }
    
    ul li{
        font-size:$base-font-size;
        display: block;
        vertical-align: top;
        color:$monkey-black;
        
        @media only screen and(min-width:640px){
        
            display: inline-block;
            vertical-align: top;
            color:$monkey-white;
            
        }
        
        a{
            display: block;
            position:relative;
            height:50px;
            line-height:50px;
            padding:0px $base-margin;
            font-size:90%;
            transition:background-color 200ms;
            @media only screen and(min-width:640px){
                font-size: 80%;
                text-transform: uppercase;
                border-bottom: 0;
                top:-2;
                
                &:hover{
                    background-color:rgba($monkey-light,.1);
                }
            }
        }
        
        &.current-menu-item a,
        &.current_page_item a{
            background-color:rgba($monkey-light,.1);
        }
        
        &.internal a{
            background:transparent;
            
            &:hover{
                background-color:rgba($monkey-light,.1);
            }
        }
    }
}


.top-nav-menu{
    position:fixed;
    right:-$menu-width;
    width:$menu-width;
    transition:right $menu-transition-time;
    transition-timing-function: $header-transition-timing-function;
    padding:0 $base-margin;
    height:100vh;
    min-height: 500px;
    background:$monkey-light;
    box-shadow: $base-shadow inset;
    color:$monkey-black-2;
    top:0;
    font-siz:150%;
    
    a{
        display: block;
        padding:$base-margin 0;
        border-bottom: 1px solid darken($monkey-light,10);
    }
    
    @media only screen and(min-width:640px){
        
        ul{
            position:fixed;
            top:0;
            height:50px;
            line-height:50px;
            right:50px + $base-margin;
            transition: all $menu-transition-time;
            transition-timing-function: $menu-transition-timing-function;
        }
        
    }
    
}

.home:not(.mobile){
    
    .hamburger{
        @media only screen and(min-width:768px){
            top:$base-margin;
        }
    }
    
    header.fixed .hamburger{
        top:0;
    }
    
    .top-nav-menu ul{
        @media only screen and(min-width:768px){
        top:$base-margin;
        }
    }
    
    header.fixed .top-nav-menu ul{
        top:0;
    }
}


.hamburger{
    
    font-size: 0;
    position:fixed;
    top:0;
    right:0;
    transition: all $menu-transition-time;
    transition-timing-function: $menu-transition-timing-function;
    background:transparent url('../libs/img/icons/menu_white.svg') no-repeat center;
    @media only screen and(min-width:640px){
        background:transparent url('../libs/img/icons/more_vert_white.svg') no-repeat center;
        right:13px;
    }
    
    height:50px;
    width:50px;
    
    &:hover{
        background-color:rgba($monkey-light,.1);
    }
    
}


.menu-user{
    font-size:90%;
    margin:0 0-$base-margin;
    padding:$base-margin $base-margin $base-margin*2;
    position:relative;
    margin-top:-1px;
    
    header{
        padding:$base-margin / 2 0;
        border-bottom: 1px solid darken($monkey-light,10);
        
        strong{
            font-weight:400;
            padding-left:20px;
            background: url(../libs/img/icons/person.svg) left center no-repeat;
            background-size:15px;
        }
    }
    
    nav{
        font-size:90%;
        a{
            border-bottom:none;
            padding:$base-margin 0 0;
            transition:color .2s;
            
            &.logout:hover{
                color:lighten($monkey-red,30);
            }
        }
    }
    
}