.page-header{
    margin-top: 63px;
    height: 256px;
    padding-bottom: 0;
    margin-bottom: 0;
    
    @media only screen and(min-width:640px){
        padding-bottom: 40%;
        height:0;
    }
    
    @media only screen and(min-width:768px){
        padding-bottom: 33.333%;
        transition:padding-bottom .2s;
    }
    @media only screen and(min-width:1160px){
        padding-bottom: 25%;
        transition:padding-bottom 0s;
        
    }
    
    @media only screen and(min-width:1600px){
        transition:padding-bottom 0s;
        padding-bottom: 0;
        height:400px;
    }
    
    background-size: cover;
    background-position: center;
    overflow:visible;
    box-shadow: $base-shadow;
    
    .inner{
        @include center(false,true);
        left:-$base-margin;
    }
    
    h1{
        text-transform: uppercase;
        display: block;
        font-weight:400;
        padding:10px 20px 10px $base-margin*2;
        font-size:125%;
        transition:font-size .2s;
        @media only screen and(min-width:640px){
            font-size: 150%;
        }
        @media only screen and(min-width:768px){
            font-size: 200%;
        }
        @media only screen and(min-width:960px){
            font-size: 250%;
        }
        
        @extend %light-marker;
        box-shadow: $base-shadow;
    }
    
    .inner div{
        margin-top:$base-margin/2;
        display: block;
        
        span,a{
            @extend %light-marker;
            display: inline-block;
            padding:5px 10px 5px $base-margin*2;
            box-shadow: $base-shadow;
            
        }
    }
    
    .button,
    .playbtn,
    .button-dir{
        @include center(true,true);
        
        @media only screen and(max-width:640px){
            top:auto;
            bottom:$base-margin;
        }
        
    }
}