.person-gallery{

    margin:0;
    padding:$base-margin / 2;
    background: $monkey-white;
    box-shadow: $button-shadow;
    
    .box:hover header{
        
        
        &:before{
            opacity:.7;
        }
        &:after{
            opacity:1;
        }
    }
    header{
        
        position:relative;
        height:0;
        padding-bottom: 70%;
       
        
        background:$monkey-black;
        overflow: hidden;
        
        
        
        img{
            width:100%;

            transition:opacity .2s;
        }
        
        &:before{
            content:'';
            @extend %fill-all;
            background:$monkey-light;
            z-index:2;
            opacity:0;
            transition:opacity .3s;
            
        }
        
        &:after{
            content:'';
            position:absolute;
            top:50%;
            left:50%;
            transition:opacity .3s;
            transform: translate(-50%,-50%);
            @extend .ape-circle;
            z-index:3;
            opacity:0;
        }
        
        
        @media only screen and(min-width:768px){
            padding-bottom: 90%;
        }
        @media only screen and(min-width:1280px){
            padding-bottom: 70%;
        }
        
    }
    
    footer{
        padding:$base-margin 0px 70px;
        @extend %article-font-style;
        
        h3{
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            margin-bottom:5px;
        }
        
        h4{
            color:$monkey-green;
        }
        
        span{
            display: block;
        }
    }
    
}