.person-gallery{

    margin:0;
    padding:90px $base-margin/2 120px;
    background: $monkey-light;
    //box-shadow: $button-shadow;
    position:relative;
    //z-index:3;
    
    .box{
        position:relative;
    }
    
    .box-inner{
        display: block;
        position:absolute;
        z-index:2;
        top:0;
        height:0;
        left:0;
        right:0;
        padding-top:70%;
        
        @media only screen and(min-width:768px){
            padding-bottom: 90%;
        }
        @media only screen and(min-width:1280px){
            padding-bottom: 70%;
        }
    }
    
    
    header{
        
        z-index:3;
        position:relative;
        height:0;
        padding-bottom: 75%;
       
        
        background:$monkey-black;
        overflow: hidden;
        
        @media only screen and(min-width:1280px){
            padding-bottom: 70%;
        }
        
        img{
            width:100%;

            transition:opacity .2s;
        }
        
    }
    
    footer{
        padding:$base-margin 0px $base-margin;
        @extend %article-font-style;
        
        h3{
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            margin-bottom:5px;
            font-size:100%;
        }
        
        h4{
            color:$monkey-green;
            font-size:100%;
        }
        
        span,a{
            display: block;
        }
        
        a{
            margin-top:5px;
            font-weight:400;
            font-size:80%;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}
