.person-gallery{

    margin:0;
    padding:$base-margin / 2;
    background: $monkey-white;
    box-shadow: $button-shadow;
    
    
    header{
        height:0;
        padding-bottom: 70%;
        @media only screen and(min-width:768px){
            padding-bottom: 90%;
        }
        @media only screen and(min-width:1280px){
            padding-bottom: 70%;
        }
        
        background:$monkey-black;
    }
    
    footer{
        padding:$base-margin 0px 70px;
        @extend %article-font-style;
        
        h3{
            text-transform: uppercase;
            font-weight: 700;
        }
        
        h4{
            color:$monkey-green;
        }
        
        span{
            display: block;
        }
    }
    
}