.person-gallery{

    margin:0;
    padding:90px $base-margin/2 120px;
    background: $monkey-light;
    //box-shadow: $button-shadow;
    position:relative;
    //z-index:3;
	cursor: default;
    
    .box{
        position:relative;
    }
    
    .box-inner{
        display: block;
        position:absolute;
        z-index:2;
        top:0;
        height:0;
        left:0;
        right:0;
        padding-top:70%;
        
        @media only screen and(min-width:768px){
            padding-bottom: 90%;
        }
        @media only screen and(min-width:1280px){
            padding-bottom: 70%;
        }
    }
    
    
    header{
        
        z-index:3;
        position:relative;
        height:0;
        padding-bottom: 75%;
       
        
        background:$monkey-black;
        overflow: hidden;
        
        @media only screen and(min-width:1280px){
            padding-bottom: 70%;
        }
        
        img{
            width:100%;

            transition:opacity .2s;
        }
        
    }
    
    footer{
        @extend %article-font-style;
        
        h3{
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
			margin-top:$base-margin;
            margin-bottom:5px;
            font-size:100%;
        }
        
        h4{
            color:$monkey-green;
            font-size:100%;
			font-weight: 400;
			margin:0 0 $base-margin;
			padding:0 0 $base-margin;
			border-bottom:1px solid $monkey-light-2;

        }
        
        span,a{
            display: block;
        }
        
        a{
			margin-top:5px;
			padding:0 0 $base-margin*1.5;
            //border-bottom:1px solid $monkey-light-2;
            
			&:first-of-type{
				margin:$base-margin 0 0;
				padding:$base-margin 0 0;
				border-top:1px solid $monkey-light-2;
				border-bottom:none;
			}

            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}
