.subsection-video-bg{
    margin:0;
    padding:0;
    height:100vh;
    border:$base-margin solid $monkey-light;
    overflow:hidden;
    
    .inner, .video-overlay{
        @extend %fill-all;
        overflow:hidden;
        z-index:2;
    }
    
    .inner{
        top:-30px;
        left:-30px;
        right:-30px;
        bottom:-30px;
        border:none;
    }
    
    iframe, .video-bg-fallback{
        position:absolute;
        z-index:1;
        width:100%;
        height:100%;
    }
    
    .video-bg-fallback:not([data-bg]){
        background-color:$monkey-green;
        background-size: cover;
        background-position:center;
    }
}