/*********************************************/
/**************** STYLE RESET ****************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clear {
  clear: both; }

a, a:active, a:visited, a:hover {
  color: inherit;
  text-decoration: none; }

/**************** STYLE RESET ****************/
/*********************************************/
@-webkit-keyframes linedrawthemonkey {
  0% {
    stroke-dashoffset: 280;
    fill: rgba(255, 255, 255, 0);
    stroke-width: .5px; }
  60% {
    stroke-dashoffset: 0;
    fill: rgba(50, 59, 59, 0);
    stroke-width: .3px; }
  100% {
    stroke-dashoffset: 0;
    fill: rgba(59, 59, 59, 0.9);
    stroke-width: 0px; } }
@keyframes linedrawthemonkey {
  0% {
    stroke-dashoffset: 280;
    fill: rgba(255, 255, 255, 0);
    stroke-width: .5px; }
  60% {
    stroke-dashoffset: 0;
    fill: rgba(50, 59, 59, 0);
    stroke-width: .3px; }
  100% {
    stroke-dashoffset: 0;
    fill: rgba(59, 59, 59, 0.9);
    stroke-width: 0px; } }
form label, form input[type="checkbox"]:after, .slide-boxes .flickity-viewport, .slide-boxes .flickity-slider, .slide-boxes .box-slider.shop a:before, .slide-boxes .box-slider.shop a:after, .hero .inner, .flickity-viewport, .flickity-slider, .front-work .box-slider a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.hero .inner .hero-banner, .flickity-viewport .hero-banner, .flickity-slider .hero-banner {
  padding: 13px; }

.hero .inner .hero-banner h3, .hero .inner .hero-banner p, .flickity-viewport .hero-banner h3, .flickity-viewport .hero-banner p, .flickity-slider .hero-banner h3, .flickity-slider .hero-banner p {
  max-width: 640px;
  margin: auto;
  text-align: left; }

article, form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="number"],
form textarea, .fancy-sidebars main, .fancy-sidebars aside, .slide-boxes > .inner, .hero .inner .hero-banner p, .flickity-viewport .hero-banner p, .flickity-slider .hero-banner p, .person-gallery footer {
  line-height: 1.4; }

html, body, .box, form > div, .fancy-sidebars main, .fancy-sidebars aside, .slide-boxes > .inner {
  font-size: 14px;
  -webkit-transition: font-size .2s;
          transition: font-size .2s; }
  @media only screen and (min-width: 480px) {
    html, body, .box, form > div, .fancy-sidebars main, .fancy-sidebars aside, .slide-boxes > .inner {
      font-size: 14px; } }
  @media only screen and (min-width: 640px) {
    html, body, .box, form > div, .fancy-sidebars main, .fancy-sidebars aside, .slide-boxes > .inner {
      font-size: 15px; } }
  @media only screen and (min-width: 960px) {
    html, body, .box, form > div, .fancy-sidebars main, .fancy-sidebars aside, .slide-boxes > .inner {
      font-size: 16px; } }

.heart, .hero .inner .hero-banner h3, .hero .inner .hero-banner p, .flickity-viewport .hero-banner h3, .flickity-viewport .hero-banner p, .flickity-slider .hero-banner h3, .flickity-slider .hero-banner p {
  text-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2); }

.hero-footer a {
  display: inline;
  background: #343434;
  color: #ffffff;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  padding: 5px 10px; }

.fancy-sidebars main .inner, .fancy-sidebars aside .inner {
  padding: 13px;
  background: white; }

html, body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
  background: #ebebeb;
  line-height: 1; }

::-moz-selection {
  background: #85adad
  /* WebKit/Blink Browsers */ }

::selection {
  background: #85adad
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #85adad
  /* Gecko Browsers */ }

body * {
  box-sizing: inherit;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
  text-rendering: inherit; }

img {
  max-width: 100%;
  height: auto; }

header, section, footer {
  position: relative;
  z-index: 1;
  clear: both;
  display: block;
  overflow: auto; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.padding {
  padding: 13px; }

hr {
  border-color: rgba(52, 52, 52, 0.2);
  border-radius: none; }

.read-width {
  max-width: 640px;
  margin: auto; }

section {
  margin: 13px; }

body article {
  color: #343434;
  line-height: 1.4; }
  body article header {
    background: none; }
  body article h1 {
    color: #c04545; }
  body article h2 {
    font-size: 250%;
    margin-bottom: 0.7em;
    line-height: 1.2;
    font-weight: 400; }
  body article h3 {
    font-size: 200%;
    margin-bottom: 0.7em;
    line-height: 1.2;
    font-weight: 400; }
  body article h4 {
    font-size: 175%;
    margin-bottom: 0.7em;
    line-height: 1.2; }
  body article h5 {
    font-size: 150%;
    margin-bottom: 0.7em;
    line-height: 1.2; }
  body article p {
    margin-bottom: 0.7em; }
  body article ul {
    padding-left: 20px;
    list-style: disc;
    margin-bottom: 0.7em; }
  body article ol {
    padding-left: 20px;
    list-style: decimal;
    margin-bottom: 0.7em; }
  body article ul li, body article ol li {
    margin-bottom: 0.7em; }
  body article strong {
    font-weight: bold; }
  body article em {
    font-style: italic; }
  body article a:active,
  body article a,
  body article a:visited,
  body article a:hover {
    text-decoration: underline !important; }

/*! Flickity v1.0.2
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1; }

.button,
.button:visited,
body article .button,
body article .button:visited {
  text-decoration: none !important;
  background: #669999;
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2);
  text-shadow: 1px 1px 0px rgba(52, 52, 52, 0.1);
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  opacity: .95;
  text-transform: uppercase;
  font-weight: 400; }
  .button.large,
  .button:visited.large,
  body article .button.large,
  body article .button:visited.large {
    font-size: 120%;
    padding: 0px 40px;
    height: 50px;
    line-height: 50px; }
  .button.black,
  .button:visited.black,
  body article .button.black,
  body article .button:visited.black {
    background: #343434; }
  .button.red,
  .button:visited.red,
  body article .button.red,
  body article .button:visited.red {
    background: #c04545; }
  .button.flat,
  .button:visited.flat,
  body article .button.flat,
  body article .button:visited.flat {
    background: transparent;
    box-shadow: none;
    color: #454545;
    padding: 5px 30px 5px 0px; }
    .button.flat:hover,
    .button:visited.flat:hover,
    body article .button.flat:hover,
    body article .button:visited.flat:hover {
      color: #343434; }
  .button:hover, .button:focus,
  .button:visited:hover,
  .button:visited:focus,
  body article .button:hover,
  body article .button:focus,
  body article .button:visited:hover,
  body article .button:visited:focus {
    color: #ffffff;
    text-decoration: none !important;
    opacity: 1;
    outline: none; }

.button-dir {
  display: block;
  background: #343434;
  -webkit-transition: background .2s;
          transition: background .2s;
  color: #ffffff !important;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2);
  text-shadow: 1px 1px 0px rgba(52, 52, 52, 0.1);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative; }
  .button-dir:focus, .button-dir:hover {
    outline: none;
    background: #669999; }
  .button-dir:before, .button-dir:after {
    content: '';
    position: absolute;
    background: white;
    width: 12px;
    height: 12px;
    top: 19px;
    left: 19px;
    -webkit-transform: rotate(-135deg) translate(-1.5px, 1.5px);
        -ms-transform: rotate(-135deg) translate(-1.5px, 1.5px);
            transform: rotate(-135deg) translate(-1.5px, 1.5px); }
  .button-dir:after {
    background: inherit;
    -webkit-transform: rotate(-135deg) translate(-3px, 3px);
        -ms-transform: rotate(-135deg) translate(-3px, 3px);
            transform: rotate(-135deg) translate(-3px, 3px); }
  .button-dir.right:before {
    -webkit-transform: rotate(45deg) translate(-1.5px, 1.5px);
        -ms-transform: rotate(45deg) translate(-1.5px, 1.5px);
            transform: rotate(45deg) translate(-1.5px, 1.5px); }
  .button-dir.right:after {
    background: inherit;
    -webkit-transform: rotate(45deg) translate(-3px, 3px);
        -ms-transform: rotate(45deg) translate(-3px, 3px);
            transform: rotate(45deg) translate(-3px, 3px); }
  .button-dir.up:before {
    -webkit-transform: rotate(-45deg) translate(-1.5px, 1.5px);
        -ms-transform: rotate(-45deg) translate(-1.5px, 1.5px);
            transform: rotate(-45deg) translate(-1.5px, 1.5px); }
  .button-dir.up:after {
    background: inherit;
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
        -ms-transform: rotate(-45deg) translate(-3px, 3px);
            transform: rotate(-45deg) translate(-3px, 3px); }
  .button-dir.down:before {
    -webkit-transform: rotate(135deg) translate(-1.5px, 1.5px);
        -ms-transform: rotate(135deg) translate(-1.5px, 1.5px);
            transform: rotate(135deg) translate(-1.5px, 1.5px); }
  .button-dir.down:after {
    background: inherit;
    -webkit-transform: rotate(135deg) translate(-3px, 3px);
        -ms-transform: rotate(135deg) translate(-3px, 3px);
            transform: rotate(135deg) translate(-3px, 3px); }

.playbtn {
  position: relative;
  cursor: pointer;
  display: block;
  background: #ffffff;
  color: #669999;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2);
  text-shadow: 1px 1px 0px rgba(52, 52, 52, 0.1);
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: background .2s, color .2s;
          transition: background .2s, color .2s; }
  .playbtn:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 19px;
    left: 22.5px;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent #669999;
    -webkit-transition: border-color .2s;
            transition: border-color .2s; }
  .playbtn:hover {
    background: #669999;
    color: #ffffff; }
    .playbtn:hover:before {
      border-color: transparent transparent transparent #ffffff; }

.prev-next-right {
  position: absolute;
  bottom: 26px;
  right: 26px;
  width: 50px;
  z-index: 2; }
  .prev-next-right > a {
    margin: 13px 0px 0px; }

.ape-circle {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #669999 url(../libs/img/abe_hvid.svg) center no-repeat;
  background-size: 40px;
  box-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2); }

.box-container {
  font-size: 0; }

.box {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 6.5px; }
  @media only screen and (min-width: 320px) {
    .box {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .box {
      width: 25%; } }

:invalid {
  box-shadow: none; }

:-moz-submit-invalid {
  box-shadow: none; }

:-moz-ui-invalid {
  box-shadow: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ebebeb inset; }

form label.stayup, form input[type="text"]:focus + label,
form input[type="email"]:focus + label,
form input[type="tel"]:focus + label,
form input[type="password"]:focus + label,
form input[type="number"]:focus + label,
form textarea:focus + label {
  font-size: 76.92308%;
  top: -18px;
  line-height: 15px;
  opacity: .4; }

form.sheeted-form {
  padding: 13px;
  background: #ffffff;
  box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3);
  margin: auto; }

form {
  /* SELECT */
  /* CHECKBOX */
  /* RANGE */
  /* thumb */ }
  form.small {
    max-width: 320px;
    margin: auto; }
  form.smaller {
    max-width: 220px;
    margin: auto; }
  form .spacer {
    position: relative;
    display: block;
    height: 0px;
    margin: 13px 0px;
    border-bottom: 1px dashed rgba(52, 52, 52, 0.3); }
  form > div {
    position: relative;
    margin-top: 28px; }
  form label {
    z-index: 1;
    padding: 4px 0px;
    font-size: 100%;
    height: inherit;
    top: 0;
    -webkit-transition: font-size 100ms, top 100ms, height 100ms, opacity 100ms;
            transition: font-size 100ms, top 100ms, height 100ms, opacity 100ms;
    opacity: .9;
    font-weight: 400;
    color: #454545; }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="password"],
  form input[type="number"],
  form textarea {
    position: relative;
    z-index: 2;
    background: transparent;
    resize: none;
    font-family: "Lato", sans-serif;
    border: solid rgba(69, 69, 69, 0.2);
    border-width: 0px 0px 1px;
    outline: none;
    -webkit-transition: border 100ms;
            transition: border 100ms;
    padding: 4px 0px;
    font-size: 100%;
    font-weight: 400;
    color: inherit;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0; }
    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="tel"]:focus,
    form input[type="password"]:focus,
    form input[type="number"]:focus,
    form textarea:focus {
      border: solid rgba(52, 52, 52, 0.6);
      border-width: 0px 0px 1px; }
    form input[type="text"].success,
    form input[type="email"].success,
    form input[type="tel"].success,
    form input[type="password"].success,
    form input[type="number"].success,
    form textarea.success {
      border-bottom-color: #669999; }
    form input[type="text"].error,
    form input[type="email"].error,
    form input[type="tel"].error,
    form input[type="password"].error,
    form input[type="number"].error,
    form textarea.error {
      color: #c04545;
      border-bottom-color: #c04545; }
      form input[type="text"].error + label,
      form input[type="email"].error + label,
      form input[type="tel"].error + label,
      form input[type="password"].error + label,
      form input[type="number"].error + label,
      form textarea.error + label {
        color: #c04545; }
  form .select {
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: block;
    color: #343434;
    width: 100%;
    height: 32.5px; }
  form .select-hidden {
    display: none; }
  form .select-styled {
    position: absolute;
    border-bottom: 1px solid rgba(52, 52, 52, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    -webkit-transition: background-color 100ms, border-bottom 100ms;
            transition: background-color 100ms, border-bottom 100ms;
    height: 32.5px;
    line-height: 32.5px; }
    form .select-styled.success {
      border-bottom: 1px solid #669999;
      font-weight: 400; }
    form .select-styled:after {
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-color: rgba(52, 52, 52, 0.5) transparent transparent transparent;
      position: absolute;
      top: 13px;
      right: 13px; }
    form .select-styled:active:after, form .select-styled.active:after {
      top: 7px;
      border-color: transparent transparent #343434 transparent; }
  form .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    top: 32.5px;
    box-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2);
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ebebeb; }
    form .select-options li {
      margin: 0;
      padding: 10.4px 0;
      text-indent: 13px;
      font-weight: 400;
      -webkit-transition: background-color 100ms, color 100ms;
              transition: background-color 100ms, color 100ms; }
      form .select-options li:hover {
        background: #dedede; }
      form .select-options li[rel="hide"] {
        display: none; }
  form input[type="checkbox"] {
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    cursor: pointer;
    margin: 0; }
    form input[type="checkbox"]:after {
      content: '';
      background: #ebebeb;
      border: 1px solid rgba(52, 52, 52, 0.5);
      -webkit-transition: background 100ms, border 100ms;
              transition: background 100ms, border 100ms;
      border-radius: 2px; }
    form input[type="checkbox"]:checked:after {
      content: '\2713';
      border: 1px solid #669999;
      background: #669999;
      color: #ffffff;
      line-height: 16px;
      text-align: center;
      font-size: 120%; }
    form input[type="checkbox"] + label {
      left: 30px;
      height: 12px;
      line-height: 12px;
      top: 0;
      -webkit-transition: color 100ms;
              transition: color 100ms; }
  form input[type="range"] {
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 5px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    background: rgba(52, 52, 52, 0.3);
    outline: none
    /* no focus outline */ }
    form input[type="range"] + label {
      opacity: .7; }
  form input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent; }
  form input[type="range"]::-ms-track {
    border: inherit;
    color: transparent;
    /* don't drawn vertical reference line */
    background: transparent; }
  form input[type="range"]::-ms-fill-lower,
  form input[type="range"]::-ms-fill-upper {
    background: transparent; }
  form input[type="range"]::-ms-tooltip {
    display: none; }
  form input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background: #669999;
    -webkit-transition: height .1s, width .1s;
            transition: height .1s, width .1s; }
  form input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background: #669999;
    transition: height .1s, width .1s; }
  form input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background: #669999;
    transition: height .1s, width .1s; }
  form input[type="range"]:hover::-webkit-slider-thumb {
    width: 22px;
    height: 22px; }
  form input[type="range"]:hover::-moz-range-thumb {
    width: 22px;
    height: 22px; }
  form input[type="range"]:hover::-ms-thumb {
    width: 22px;
    height: 22px; }

.heart {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  top: 12px;
  font-size: 16px; }
  .heart:before, .heart:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 17px;
    background: #c04545;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
    box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3); }
  .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }

.post-title {
  font-size: 200%;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 13px;
  margin-top: 0; }

.byline {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  font-size: 90%;
  margin-bottom: 13px; }

.fancy-sidebars {
  margin: 56.5px 6.5px;
  min-height: 100vh;
  font-size: 0;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .fancy-sidebars {
      margin: 56.5px 0; } }
  .fancy-sidebars main, .fancy-sidebars aside {
    padding: 6.5px; }
    .fancy-sidebars main .inner, .fancy-sidebars aside .inner {
      position: relative;
      padding: 13px;
      margin-top: 13px; }
      .fancy-sidebars main .inner:first-of-type, .fancy-sidebars aside .inner:first-of-type {
        margin-top: 0; }
  @media only screen and (min-width: 640px) {
    .fancy-sidebars aside {
      display: inline-block;
      vertical-align: top;
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .fancy-sidebars main {
      width: 67%;
      padding: 6.5px 6.5px 6.5px 13px; }
    .fancy-sidebars .fancy-asides {
      position: fixed;
      padding: 13px 13px 13px 6.5px;
      -webkit-transition: right 0.2s;
              transition: right 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
              transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
      width: 33%;
      top: 50px;
      right: 0;
      height: calc(100% - 50px);
      overflow: hidden; }
      .fancy-sidebars .fancy-asides aside {
        display: block;
        padding: 0;
        width: auto;
        -webkit-transition: right 0.2s;
                transition: right 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
                transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5); }
        .fancy-sidebars .fancy-asides aside:nth-of-type(2) {
          margin-top: 13px; }
      .fancy-sidebars .fancy-asides.stop {
        position: absolute;
        padding: 13px 13px 6.5px 6.5px;
        top: auto;
        height: auto;
        min-height: calc(100vh - 50px);
        bottom: 0px; } }
  @media only screen and (min-width: 1160px) {
    .fancy-sidebars main {
      width: 50%;
      margin-left: 25%;
      position: relative;
      z-index: 2;
      padding: 6.5px 6.5px 6.5px 6.5px; }
    .fancy-sidebars .fancy-asides {
      width: 100%;
      padding: 6.5px 0 6.5px; }
      .fancy-sidebars .fancy-asides.stop {
        padding: 6.5px 0 0; }
      .fancy-sidebars .fancy-asides aside {
        width: 25%; }
        .fancy-sidebars .fancy-asides aside:nth-of-type(2) {
          margin-top: 0; }
        .fancy-sidebars .fancy-asides aside.aside-left {
          padding: 6.5px 6.5px 6.5px 13px; }
        .fancy-sidebars .fancy-asides aside.aside-right {
          position: fixed;
          margin: 0;
          right: 0px;
          padding: 13px 13px 13px 6.5px;
          top: 50px;
          width: 25%;
          height: calc(100% - 50px);
          overflow: hidden; }
          .fancy-sidebars .fancy-asides aside.aside-right.stop {
            position: absolute;
            padding: 13px 13px 6.5px 6.5px;
            top: auto;
            height: auto;
            min-height: calc(100vh - 50px);
            bottom: 0px; } }

body.menu-out .fancy-sidebars .fancy-asides {
  right: 240px; }
  body.menu-out .fancy-sidebars .fancy-asides.stop {
    right: 0;
    -webkit-transition: right 0s;
            transition: right 0s; }
  body.menu-out .fancy-sidebars .fancy-asides aside.aside-right {
    right: 240px; }
    body.menu-out .fancy-sidebars .fancy-asides aside.aside-right.stop {
      right: 0;
      -webkit-transition: right 0s;
              transition: right 0s; }

.slide-boxes {
  margin: 0;
  font-size: 0; }
  .slide-boxes > .inner {
    position: relative;
    padding: 76px 0 13px; }
    @media only screen and (min-width: 640px) {
      .slide-boxes > .inner {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 13px 0 76px; }
        .slide-boxes > .inner header {
          top: auto;
          bottom: -6.5px; }
        .slide-boxes > .inner.inner-left .inner {
          margin: 13px 6.5px 6.5px 13px; }
        .slide-boxes > .inner.inner-right .inner {
          margin: 13px 13px 6.5px 6.5px; }
        .slide-boxes > .inner.inner-right .box-slider {
          border-right-width: 13px; }
        .slide-boxes > .inner.inner-left .box-slider {
          border-left-width: 13px; } }
    @media only screen and (min-width: 960px) {
      .slide-boxes > .inner {
        width: 33.3333%; }
        .slide-boxes > .inner.double {
          width: 66.6666%; }
          .slide-boxes > .inner.double .box-slider a {
            width: 50%; } }
    @media only screen and (min-width: 1160px) {
      .slide-boxes > .inner .box-slider {
        height: 400px; } }
  .slide-boxes header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .slide-boxes header .inner {
      background: #ebebeb;
      padding: 13px;
      margin: 13px;
      overflow: auto; }
    .slide-boxes header nav {
      float: right;
      vertical-align: top; }
      .slide-boxes header nav a {
        margin-left: 13px;
        vertical-align: middle; }
  .slide-boxes .flickity-viewport {
    margin: 0px -6.5px; }
  .slide-boxes .box-slider {
    height: 200px;
    background: #ebebeb;
    position: relative;
    border: solid #ebebeb;
    border-width: 6.5px 13px;
    overflow: hidden; }
    @media only screen and (min-width: 480px) {
      .slide-boxes .box-slider {
        height: 280px; } }
    @media only screen and (min-width: 640px) {
      .slide-boxes .box-slider {
        border-width: 6.5px; } }
    .slide-boxes .box-slider a {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-color: #669999;
      border: solid #ebebeb;
      border-width: 6.5px 3.25px; }
    .slide-boxes .box-slider.shop a:before {
      content: '';
      background-image: url(../libs/img/smamo-indk.png);
      background-repeat: no-repeat;
      background-position: -50px center;
      background-size: 50px;
      -webkit-transition: background-position .4s;
              transition: background-position .4s;
      trasition-delay: 0s;
      -webkit-transition-timing-function: cubic-bezier(0.61, -0.22, 0.47, 1.33);
              transition-timing-function: cubic-bezier(0.61, -0.22, 0.47, 1.33); }
    .slide-boxes .box-slider.shop a:hover:before {
      background-position: center center;
      left: -10px;
      -webkit-transition-delay: .2s;
              transition-delay: .2s;
      background-color: transparent; }
    .slide-boxes .box-slider.shop a:after {
      content: '';
      background-color: transparent;
      -webkit-transition: background-color .3s;
              transition: background-color .3s; }
    .slide-boxes .box-slider.shop a:hover:after {
      background-color: rgba(102, 153, 153, 0.9); }

header.header {
  z-index: 1000;
  overflow: visible;
  position: absolute;
  background: #343434;
  -webkit-transition: height 400ms, width 400ms, left 0.2s, right 0.2s;
          transition: height 400ms, width 400ms, left 0.2s, right 0.2s;
  box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3);
  -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
          transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 50px;
  width: 100%; }
  header.header .header-logo {
    height: 50px;
    width: 50px;
    display: block; }
    header.header .header-logo svg {
      fill: #ffffff;
      position: relative;
      display: block;
      margin: 0px auto 0px 13px;
      top: 12px;
      height: 37px;
      width: 37px; }
      header.header .header-logo svg .smart, header.header .header-logo svg .monkey {
        display: none; }

.home header.header {
  z-index: 1000;
  overflow: visible;
  position: absolute;
  top: 26px;
  height: 50px;
  width: 0px;
  background: #343434;
  -webkit-transition: height 400ms, width 400ms, left 0.2s, right 0.2s;
          transition: height 400ms, width 400ms, left 0.2s, right 0.2s;
  box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3);
  -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
          transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5); }
  @media only screen and (min-width: 768px) {
    .home header.header {
      top: 75px;
      height: 80px; } }
  .home header.header.fixed {
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%; }
    .home header.header.fixed .header-logo {
      height: 50px; }
      .home header.header.fixed .header-logo svg {
        top: 12px;
        height: 37px;
        width: 37px; }
  .home header.header .header-logo {
    -webkit-transition: height 400ms, width 400ms;
            transition: height 400ms, width 400ms;
    display: block;
    position: absolute;
    background: #343434;
    width: 60px;
    height: 50px;
    top: 0;
    -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
            transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5); }
    @media only screen and (min-width: 768px) {
      .home header.header .header-logo {
        height: 80px;
        width: 95px; } }
    .home header.header .header-logo svg {
      -webkit-transition: height 400ms, width 400ms, top 400ms, left 400ms;
              transition: height 400ms, width 400ms, top 400ms, left 400ms;
      fill: #ffffff;
      position: relative;
      display: block;
      margin: 0px auto 0px 13px;
      top: 11px;
      height: 35px;
      width: 35px;
      -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
              transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5); }
      @media only screen and (min-width: 768px) {
        .home header.header .header-logo svg {
          top: 14px;
          height: 70px;
          width: 70px; } }
      .home header.header .header-logo svg .smart, .home header.header .header-logo svg .monkey {
        display: none; }

body {
  -webkit-transition: right 0.2s;
          transition: right 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
          transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
  right: 0;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  left: auto; }

body.menu-out {
  left: auto;
  right: 240px; }
  body.menu-out header.header {
    left: -240px; }
  body.menu-out .top-nav-menu {
    right: 0; }

nav.top-nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 13px; }
  nav.top-nav ul li {
    display: inline-block; }
    nav.top-nav ul li a {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0px 13px;
      color: #ebebeb;
      font-size: 90%; }

.top-nav-menu {
  position: fixed;
  right: -240px;
  width: 240px;
  -webkit-transition: right 0.2s;
          transition: right 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
          transition-timing-function: cubic-bezier(0.73, 0.15, 0.5, 1.5);
  padding: 0 13px;
  height: 100vh;
  min-height: 500px;
  background: #ebebeb;
  box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3) inset;
  color: #454545;
  top: 0;
  font-siz: 150%; }
  .top-nav-menu a {
    display: block;
    padding: 13px 0;
    border-bottom: 1px solid #d2d2d2; }

.home nav.top-nav {
  top: -50px;
  opacity: 0;
  -webkit-transition: opacity 0s, top 3s;
          transition: opacity 0s, top 3s;
  -webkit-transition-delay: 0;
          transition-delay: 0; }
.home header.fixed nav.top-nav {
  top: 0px;
  opacity: 1;
  -webkit-transition: opacity .2s, top .3s;
          transition: opacity .2s, top .3s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s; }

.hamburger, body .search-icon,
body.menu-out .search-icon {
  text-indent: -99999px;
  display: block;
  position: absolute;
  top: 16px;
  right: 26px;
  -webkit-transition: border .2s;
          transition: border .2s;
  border: solid #ebebeb;
  border-width: 2px 0px;
  height: 18px;
  width: 27px; }
  .hamburger:before, body .search-icon:before,
  body.menu-out .search-icon:before, .hamburger:after, body .search-icon:after,
  body.menu-out .search-icon:after {
    display: block;
    position: absolute;
    border-top: 2px solid #ebebeb;
    -webkit-transition: -webkit-transform .2s;
            transition: transform .2s;
    content: '';
    top: 6px;
    left: 0;
    width: 100%; }

body.menu-out .hamburger,
body.menu-out .search-icon {
  border: solid transparent;
  border-width: 2px 0px; }
  body.menu-out .hamburger:before,
  body.menu-out .search-icon:before {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg); }
  body.menu-out .hamburger:after,
  body.menu-out .search-icon:after {
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg); }

body .search-icon,
body.menu-out .search-icon {
  border: none;
  right: 66px; }
  body .search-icon:before,
  body.menu-out .search-icon:before {
    content: '';
    width: 10px;
    border: 2px solid #ebebeb;
    height: 10px;
    border-radius: 10px;
    top: 0; }
  body .search-icon:after,
  body.menu-out .search-icon:after {
    position: absolute;
    left: 0;
    content: '';
    width: 12px;
    height: 1px;
    background: #ebebeb;
    -webkit-transform: translate(8px, 8px) rotate(45deg);
        -ms-transform: translate(8px, 8px) rotate(45deg);
            transform: translate(8px, 8px) rotate(45deg); }

.menu-user {
  font-size: 90%;
  margin: 0 -13px;
  padding: 13px 13px 26px;
  background: #ababab;
  color: #ffffff;
  position: relative;
  margin-top: -1px;
  box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3); }
  .menu-user header {
    padding: 6.5px 0;
    border-bottom: 1px solid #9f9f9f; }
    .menu-user header strong {
      font-weight: 400; }
  .menu-user nav {
    font-size: 90%; }
    .menu-user nav a {
      border-bottom: none;
      padding: 13px 0 0;
      -webkit-transition: color .2s;
              transition: color .2s; }
      .menu-user nav a.logout:hover {
        color: #e7b7b7; }

.hero {
  position: relative;
  height: 60vh;
  min-height: 400px;
  overflow: hidden; }
  .hero .prev-next-right {
    -webkit-transition: right 500ms;
            transition: right 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.42, -0.5, 0.47, 1.14);
            transition-timing-function: cubic-bezier(0.42, -0.5, 0.47, 1.14);
    right: -90px; }
    @media only screen and (min-width: 768px) {
      .hero .prev-next-right {
        right: 26px; }
        .hero .prev-next-right.hide {
          right: -90px; } }

.hero .inner .hero-banner, .flickity-viewport .hero-banner, .flickity-slider .hero-banner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: #669999
  /*
  &:before{
      @extend %fill-all;
      content:'';
      z-index:0;
      background:rgba($monkey-green,.5);
      
  }
  */ }
  .hero .inner .hero-banner *, .flickity-viewport .hero-banner *, .flickity-slider .hero-banner * {
    z-index: 1;
    position: relative; }
  .hero .inner .hero-banner .hero-banner-text, .flickity-viewport .hero-banner .hero-banner-text, .flickity-slider .hero-banner .hero-banner-text {
    top: 50%;
    overflow: hidden;
    width: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .hero .inner .hero-banner h3, .hero .inner .hero-banner p, .flickity-viewport .hero-banner h3, .flickity-viewport .hero-banner p, .flickity-slider .hero-banner h3, .flickity-slider .hero-banner p {
    display: block;
    color: #ffffff; }
  .hero .inner .hero-banner h3, .flickity-viewport .hero-banner h3, .flickity-slider .hero-banner h3 {
    font-size: 220%;
    text-transform: uppercase;
    padding-bottom: 13px;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    font-weight: 700;
    margin-top: 3px; }
  .hero .inner .hero-banner p, .flickity-viewport .hero-banner p, .flickity-slider .hero-banner p {
    padding-top: 13px;
    font-size: 120%; }
.hero .inner .flickity-page-dots, .flickity-viewport .flickity-page-dots, .flickity-slider .flickity-page-dots {
  position: absolute;
  bottom: 26px; }

.hero-footer {
  display: none;
  position: relative;
  top: -104px;
  height: 0;
  overflow: visible; }
  @media only screen and (min-width: 640px) {
    .hero-footer {
      display: block; } }
  .hero-footer a {
    display: inline-block;
    padding: 8px 13px 8px 26px;
    margin: 0 0 13px;
    box-shadow: 1px 1px 4px rgba(52, 52, 52, 0.3); }

.person-gallery {
  margin: 0;
  padding: 6.5px;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(52, 52, 52, 0.2); }
  .person-gallery .box {
    position: relative; }
  .person-gallery .box-inner {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    height: 0;
    left: 0;
    right: 0;
    padding-top: 70%; }
    @media only screen and (min-width: 768px) {
      .person-gallery .box-inner {
        padding-bottom: 90%; } }
    @media only screen and (min-width: 1280px) {
      .person-gallery .box-inner {
        padding-bottom: 70%; } }
  .person-gallery header {
    z-index: 3;
    position: relative;
    height: 0;
    padding-bottom: 70%;
    background: #343434;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .person-gallery header {
        padding-bottom: 90%; } }
    @media only screen and (min-width: 1280px) {
      .person-gallery header {
        padding-bottom: 70%; } }
    .person-gallery header img {
      width: 100%;
      -webkit-transition: opacity .2s;
              transition: opacity .2s; }
  .person-gallery footer {
    padding: 13px 0px 70px; }
    .person-gallery footer h3 {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 5px; }
    .person-gallery footer h4 {
      color: #669999; }
    .person-gallery footer span, .person-gallery footer a {
      display: block; }
    .person-gallery footer a {
      margin-top: 5px;
      font-weight: 400;
      font-size: 80%; }
      .person-gallery footer a:hover {
        text-decoration: underline; }

.simple-cta, .form-cta {
  padding-top: 70px;
  padding-bottom: 100px; }
  .simple-cta h3, .form-cta h3 {
    font-weight: 300; }

.front-work {
  background: #ffffff;
  padding: 60px 0px 60px; }
  @media only screen and (min-width: 640px) {
    .front-work {
      padding: 80px 0px 120px; } }
  .front-work .box-slider a {
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .front-work .box-slider a:before {
      content: '';
      background-color: transparent;
      -webkit-transition: background .3s;
              transition: background .3s;
      z-index: 1; }
    .front-work .box-slider a span {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0);
              transform: translate(-50%, -50%) translate3d(0, 0, 0);
      -webkit-transition: top .2s;
              transition: top .2s;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-transition-timing-function: cubic-bezier(0.79, 0.09, 0.62, 0.83);
              transition-timing-function: cubic-bezier(0.79, 0.09, 0.62, 0.83);
      display: block;
      color: white;
      font-size: 110%;
      width: 100%;
      text-align: center;
      z-index: 2;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
      .front-work .box-slider a span:first-of-type {
        margin-top: -12px;
        top: 0px;
        font-weight: 400;
        text-transform: uppercase; }
      .front-work .box-slider a span:nth-of-type(2) {
        top: 100%;
        margin-top: 12px; }
    .front-work .box-slider a:hover span:first-of-type, .front-work .box-slider a:hover span:nth-of-type(2) {
      top: 50%;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
    .front-work .box-slider a:hover:before {
      background-color: rgba(52, 52, 52, 0.9); }
  .front-work .box-slider.shop a span {
    margin-top: -42px; }
    .front-work .box-slider.shop a span:nth-of-type(2) {
      margin-top: 42px; }

.footer {
  margin: 13px;
  margin-top: 50px;
  padding: 0px 0px 50px;
  min-height: 350px; }
  .footer .footer-before {
    border-bottom: 2px dashed rgba(52, 52, 52, 0.5);
    margin-bottom: 20px; }
    .footer .footer-before .heart {
      background: #ebebeb; }
  .footer .center {
    margin-top: 26px; }
  .footer .smartmonkey {
    width: 180px;
    margin: 26px auto 0;
    height: 50px;
    position: relative;
    display: block; }
    .footer .smartmonkey svg {
      fill: #454545; }

/*# sourceMappingURL=main.css.map */