.box-container{
    font-size:0;
    max-width: $wrapper-width;
    margin:auto;
}

.box{
    @extend %font-size;
    vertical-align: top;
    display: inline-block;
    width:100%;
    
    @media only screen and(min-width:640px){
        width:33.333%;
    }
    
    height:100%;
    overflow:hidden;
    padding: $base-margin / 2;
    
    &.inner{
        
    }
}