.box-container{
    font-size:0;
}

.box{
    @extend %font-size;
    vertical-align: top;
    display: inline-block;
    width:100%;
    @media only screen and(min-width:320px){
        width:50%;
    }
    
    @media only screen and(min-width:768px){
        width:25%;
    }
    
    height:100%;
    overflow:hidden;
    padding: $base-margin / 2;
    
    &.inner{
        
    }
}