$button-shadow: 1px 1px 2px rgba($monkey-black,.2);
$button-text-shadow: 1px 1px 0px rgba($monkey-black,.1);
$nav-button-size: 40px;
$nav-button-size-large: 50px;
$playbtn-size: 60px;
$button-border-radius: 5px;

.button, 
.button:visited,
body article .button,
body article .button:visited,
.page-article p .button{
    text-decoration: none!important;
    background: $monkey-green;
    position:relative;
    z-index:1;
    transition:opacity.2s;
    color: $monkey-white;
    padding:0px 30px;
    height:$nav-button-size;
    line-height: $nav-button-size;
    border-radius: $button-border-radius;
    box-shadow: $button-shadow;
    text-shadow: $button-text-shadow;
    display: inline-block;
    vertical-align:middle;
    cursor: pointer;
    opacity:.95;
    text-transform: uppercase;
    font-weight:400;
    cursor: pointer;
    border: none;
	font-size:100%;
    
    &.small{
        font-size:80%;
        padding: 0px 20px;
        height:$nav-button-size - 10;
        line-height: $nav-button-size - 10;
    }
    
    &.large{
        font-size:120%;
        padding: 0px 40px;
        height:$nav-button-size-large;
        line-height: $nav-button-size-large;
    }
    
    &.black{
         background: $monkey-black;
    }
    
    &.red{
         background: $monkey-red;
    }
    
    &.flat{
        background:transparent;
        box-shadow: none;
        color:$monkey-black-2;
        padding: 5px 30px 5px 0px;
        
        &:hover{
            color:$monkey-black;
        }
    }
    
    
    &:hover, &:focus{
        color: $monkey-white;
        text-decoration: none!important;
        opacity:1;
        outline:none;
    }
    
    &.outline{
        background:transparent;
        color:$monkey-green;
        box-shadow: 0px 0px 0px 2px $monkey-green inset;
        text-shadow: none;
        transition:background 200ms;
        
        &.black{
            box-shadow: 0px 0px 0px 2px $monkey-black inset;
            color:$monkey-black;
        }
        
        &.red{
            box-shadow: 0px 0px 0px 2px $monkey-red inset;
            color:$monkey-red;
        }
        
        &.white{
            box-shadow: 0px 0px 0px 2px $monkey-white inset;
            color:$monkey-white;
            &:hover{
                background:$monkey-black;
            }
        }
        
        &:hover{
            background:lighten($monkey-light,5);
        }
    }
}

.button-dir{
    display: block;
    background: $monkey-black;
    transition: background .2s;
    color: $monkey-white!important;
    height: $nav-button-size-large;
    width: $nav-button-size-large;
    line-height: $nav-button-size-large;
    border-radius: $nav-button-size-large;
    overflow: hidden;
    box-shadow: $button-shadow;
    text-shadow: $button-text-shadow;
    display: inline-block;
    vertical-align:middle;
    cursor: pointer;
    position:relative;
    
    &:focus,&:hover{
        outline:none;
        background:$monkey-green;
    }
    
    &:before,&:after{
        content:'';
        position:absolute;
        background:white;
        width:$nav-button-size-large - 38;
        height:$nav-button-size-large - 38;
        top:19px;
        left:19px;
        transform: rotate(-135deg) translate(-1.5px,1.5px);
        
    }
    
    &:after{
        background:inherit;
        transform:  rotate(-135deg)translate(-3px,3px);
    }
    
    
    &.right:before{
        transform: rotate(45deg) translate(-1.5px,1.5px);
        
    }
    
    &.right:after{
        background:inherit;
        transform:  rotate(45deg)translate(-3px,3px);
    }
    
    &.up:before{
        transform: rotate(-45deg) translate(-1.5px,1.5px);
        
    }
    
    &.up:after{
        background:inherit;
        transform:  rotate(-45deg)translate(-3px,3px);
    }
    
    
    &.down:before{
        transform: rotate(135deg) translate(-1.5px,1.5px);
        
    }
    
    &.down:after{
        background:inherit;
        transform:  rotate(135deg)translate(-3px,3px);
    }
    
    
}

.playbtn{
    position:relative;
    cursor: pointer;
    display: block;
    background-color: $monkey-white;
    color: $monkey-green;
    height: $playbtn-size;
    width: $playbtn-size;
    line-height: $playbtn-size;
    border-radius: $playbtn-size;
    overflow: hidden;
    box-shadow: $button-shadow;
    text-shadow: $button-text-shadow;
    display: inline-block;
    vertical-align: middle;
    transition: background-color .2s, color .2s;
    background-position: center center;
    
    
    &:before{
        content:'';
        display: block;
        position:absolute;
        width: 0;
        height: 0;
        top:19px;
        left:22.5px;
        border-style: solid;
        border-width: 12.5px 0 12.5px 20px;
        border-color: transparent transparent transparent $monkey-green;
        transition:border-color .2s;
    }
    
    &:hover{
        
        background: $monkey-green;
        color: $monkey-white;
        
        &:before{
            border-color: transparent transparent transparent $monkey-white;
        }
        
    }
    
}

.prev-next-right{
    position:absolute;
    bottom:$base-margin * 2;
    right:$base-margin * 2;
    width:50px;
    z-index:2;
    
    &>a{
        margin:$base-margin 0px 0px;   
    }
    
}


.ape-circle{
    display: block;
    width:60px;
    height:60px;
    border-radius: 60px;
    background:$monkey-green url(../libs/img/abe_hvid.svg) center no-repeat;
    background-size:40px;
    box-shadow: $button-shadow;
    
}
