$button-shadow: 1px 1px 2px rgba($monkey-black,.2);
$button-text-shadow: 1px 1px 0px rgba($monkey-black,.1);
$nav-button-size: 50px;
$playbtn-size: 60px;
$button-border-radius: 5px;

.button, 
.button:visited,
body article .button,
body article .button:visited,{
    text-decoration: none!important;
    background: $monkey-green;
    position:relative;
    z-index:1;
    transition:opacity.2s;
    color: $monkey-white;
    padding: 10px 30px;
    border-radius: $button-border-radius;
    box-shadow: $button-shadow;
    text-shadow: $button-text-shadow;
    display: inline-block;
    vertical-align:middle;
    line-height: 1;
    cursor: pointer;
    opacity:.95;
    text-transform: uppercase;
    font-weight:400;
    
    &.large{
        font-size:110%;
        padding: 12px 40px;
    }
    
    &.black{
         background: $monkey-black;
    }
    
    &.red{
         background: $monkey-red;
    }
    
    &.flat{
        background:transparent;
        box-shadow: none;
        color:$monkey-black-2;
        padding: 5px 30px 5px 0px;
        
        &:hover{
            color:$monkey-black;
        }
    }
    
    
    &:hover{
        color: $monkey-white;
        text-decoration: none!important;
        opacity:1;
    }
}

.button-dir{
    display: block;
    background: $monkey-black;
    transition: background .2s;
    color: $monkey-white!important;
    height: $nav-button-size;
    width: $nav-button-size;
    line-height: $nav-button-size;
    border-radius: $nav-button-size;
    overflow: hidden;
    box-shadow: $button-shadow;
    text-shadow: $button-text-shadow;
    display: inline-block;
    vertical-align:middle;
    cursor: pointer;
    position:relative;
    
    &:hover{
        background:$monkey-green;
    }
    
    &:before,&:after{
        content:'';
        position:absolute;
        background:white;
        width:$nav-button-size - 38;
        height:$nav-button-size - 38;
        top:19px;
        left:19px;
        transform: rotate(-135deg) translate(-1.5px,1.5px);
        
    }
    
    &:after{
        background:inherit;
        transform:  rotate(-135deg)translate(-3px,3px);
    }
    
    
    &.right:before{
        transform: rotate(45deg) translate(-1.5px,1.5px);
        
    }
    
    &.right:after{
        background:inherit;
        transform:  rotate(45deg)translate(-3px,3px);
    }
    
    &.up:before{
        transform: rotate(-45deg) translate(-1.5px,1.5px);
        
    }
    
    &.up:after{
        background:inherit;
        transform:  rotate(-45deg)translate(-3px,3px);
    }
    
    
    &.down:before{
        transform: rotate(135deg) translate(-1.5px,1.5px);
        
    }
    
    &.down:after{
        background:inherit;
        transform:  rotate(135deg)translate(-3px,3px);
    }
    
    
}

.playbtn{
    position:relative;
    cursor: pointer;
    display: block;
    background: $monkey-white;
    color: $monkey-green;
    height: $playbtn-size;
    width: $playbtn-size;
    line-height: $playbtn-size;
    border-radius: $playbtn-size;
    overflow: hidden;
    box-shadow: $button-shadow;
    text-shadow: $button-text-shadow;
    display: inline-block;
    vertical-align: middle;
    transition: background .2s, color .2s;
    
    
    &:before{
        content:'';
        display: block;
        position:absolute;
        width: 0;
        height: 0;
        top:19px;
        left:22.5px;
        border-style: solid;
        border-width: 12.5px 0 12.5px 20px;
        border-color: transparent transparent transparent $monkey-green;
        transition:border-color .2s;
    }
    
    &:hover{
        
        background: $monkey-green;
        color: $monkey-white;
        
        &:before{
            border-color: transparent transparent transparent $monkey-white;
        }
        
    }
    
}

.prev-next-right{
    position:absolute;
    bottom:$base-margin * 2;
    right:$base-margin * 2;
    width:50px;
    z-index:2;
    
    &>a{
        margin:$base-margin 0px 0px;   
    }
    
}