.grid-boxes{
    
    .box-container{
        max-width: none;
    }
    
    margin:0;
    
    .inner{
         padding:$base-margin/2;
        background-color: $monkey-white;
    }

}

.grid-box{
    position:relative;
    overflow:hidden;
    display: inline-block;
    border:$base-margin/2 solid $monkey-white;
    height: 0;
    width:100%;
    padding-bottom: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @extend %font-size;
	transition:background-size 200ms;
	transition-delay: 100ms;
    
    @media only screen and(min-width:480px){
        width:50%;
        padding-bottom: 40%;
    }
    
    /*
    @media only screen and(min-width:768px){
        width:33.33333%;
        padding-bottom: 28%;
    }
	*/
    
    @media only screen and(min-width:1280px){
        width:25%;
        padding-bottom: 20%;
    }
    
    
    
    &:before{
            content:'';
            @extend %fill-all;
			background-color:rgba($monkey-black,.95);
            transition: background .3s;
            z-index:1;
        }        
    
        span{
            @include center(true,true,translate3d(0,0,0));
            transition:top .2s;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(.79, .09, .62, .83);
            display: block;
            color:white;
            font-size: 110%;
            width:100%;
            text-align: center;
            z-index:2;
            backface-visibility: hidden;
			top:50%;
   
        
            &:first-of-type{
                margin-top:-12px;
                font-weight:400;
                text-transform: uppercase;
            }

            &:nth-of-type(2){
                margin-top:12px;
            }
        
        }
		&:hover,
		&.go{
			background-size:auto 103%;
		}
        
        &:hover span:first-of-type,
        &:hover span:nth-of-type(2),
        &.go span:first-of-type,
        &.go span:nth-of-type(2){
            top:0px;

			&:nth-of-type(2){
				top:100%;
			}
            transition-delay: 0s;
            
        }
        
        &:hover:before,
        &.go:before{
            background-color:transparent;
        }
}
