$half-margin: $base-margin / 2;

.post-title{
    font-size:200%;
    font-weight:400;
    line-height: 1.2;
    margin-bottom: $base-margin;
    margin-top:0;
}

.byline{
    position: relative;
    border-bottom: 1px solid $monkey-light;
    font-size:90%;
    margin-bottom: $base-margin;
}

.fancy-sidebars{
    margin:$half-margin + 50 $half-margin;
    @media only screen and(min-width:768px){
    margin:$half-margin + 50 0;
    }
    
    min-height:100vh;
    font-size: 0;
    position:relative;
    
    main, aside{
        @extend %font-size;
        @extend %article-font-style;
        padding:$base-margin / 2;
        
        .inner{
            @extend %paper-container;
            position:relative;
            padding:$base-margin;
            margin-top: $base-margin;
            
            &:first-of-type{
                margin-top:0;
            }
            
        }
    }
    
    @media only screen and(min-width:640px){
        
        aside{
            display: inline-block;
            vertical-align: top;
            width:50%;
        }
    }
    
    
    @media only screen and(min-width:768px){
        
        main{
            
            width:67%;
            padding:$half-margin $half-margin $half-margin $base-margin;
            
        }
        
        .fancy-asides{
            position:fixed;
            padding:$base-margin $base-margin $base-margin $half-margin;
            width:33%;
            top:50px;
            right:0;
            height:calc(100% - 50px);
            overflow: hidden;
            
            aside{
                display: block;
                padding:0;
                width:auto;
                
                &:nth-of-type(2){
                    margin-top:$base-margin;
                }
            }
            
            &.stop{
                position: absolute;
                padding: 13px 13px 6.5px 6.5px;
                top: auto;
                height: auto;
                min-height:calc(100vh - 50px);
                bottom: 0px;
            }
            
        }
    }
    
    @media only screen and(min-width:1160px){
        
        
        main{
            
            width:50%;
            margin-left:25%;
            position:relative;
            z-index:2;
            padding:$half-margin $half-margin $half-margin $half-margin;
        
        }
        .fancy-asides{
            
            width:100%;
            padding:$half-margin 0 $half-margin;
            
            &.stop{
                padding:$half-margin 0 0 ;
            }
            
                aside{
                    
                    width:25%;
                    
                    &:nth-of-type(2){
                        margin-top:0;
                    }
                    
                    &.aside-left{
                        padding:$half-margin $half-margin $half-margin $base-margin;
                    }
                    
                    &.aside-right{
                        position:fixed;
                        margin:0;
                        right: 0px;
                        padding: $base-margin $base-margin $base-margin $half-margin;
                        top:50px;
                        width:25%;
                        height:calc(100% - 50px);
                        overflow:hidden;
                        
                        &.stop{
                            position: absolute;
                            padding: 13px 13px 6.5px 6.5px;
                            top: auto;
                            height: auto;
                            min-height: calc(100vh - 50px);
                            bottom: 0px;
                        }
                    }
                }
            
            }
       
    }
}