.slide-boxes{
    margin:0;
    font-size:0;
    
    .wrap>.inner{
        @extend %font-size;
        @extend %article-font-style;
        position:relative;
        padding: 50px + ($base-margin * 2) 0 $base-margin;
        
        @media only screen and(min-width:640px){
            width:50%;
            display: inline-block;
            vertical-align: top;
            padding:$base-margin 0 50px + ($base-margin * 2);
            
            header{
                top:auto;
                bottom:- $base-margin / 2;
                
            }
            
            &.inner-left .inner{
                margin:$base-margin $base-margin / 2 $base-margin / 2 $base-margin;
            }
            
            &.inner-right .inner{
                margin:$base-margin $base-margin $base-margin / 2 $base-margin / 2;
            }
            
            &.inner-right .box-slider{
                border-right-width:$base-margin; 
            }
            
            &.inner-left .box-slider{
                border-left-width:$base-margin;
            }
        }
        
        @media only screen and(min-width:960px){
            width:33.3333%;
            
            &.double{
                width:66.6666%;
                
                .box-slider a{
                    width:50%;
                }
                
            }
            
        }
        
    }
    
    header{
        width: 100%;
        position:absolute;
        top: -$base-margin;
        left: 0;
        
        .inner{
            background: darken($monkey-light,5);
            padding:$base-margin;
            margin:$base-margin;
            overflow: auto;
        }
        
        
        nav{
            float:right;
            vertical-align: top;
            
            a{
                margin-left:$base-margin;
                vertical-align: middle;
            }
        }
    }
    
    .flickity-viewport, .flickity-slider{
        @extend %fill-all;
    }
    
    .flickity-viewport{
        margin: 0px -6.5px;
    }
    
    .box-slider{
        height:200px;
        @media only screen and(min-width:480px){
            height:280px;
        }
        
        background:$monkey-light;
        position:relative;
        border:solid $monkey-light;
        border-width:$base-margin / 2 $base-margin;
        @media only screen and(min-width:640px){
            border-width:$base-margin / 2 ;
        }
        
        overflow: hidden;
        
        a{
            display: block;
            width:100%;
            height:100%;
            background-position: center;
            background-size: cover;
            background-color: $monkey-green;
            border:solid $monkey-light;
            border-width:$base-margin / 2 $base-margin / 4;
            
            
        }
        
        &.shop a:before{
            content:'';
            background-image:url(../libs/img/smamo-indk.png);
            background-repeat:no-repeat;
            background-position: -50px center;
            background-size: 50px;
            transition:background-position .4s;
            trasition-delay:0s;
            transition-timing-function: cubic-bezier(.61, -0.22, .47, 1.33);
            @extend %fill-all;
        }
        
        &.shop a:hover:before,
        &.shop a.go:before{
            background-position:center center;
            left:-10px;
            transition-delay:.2s;
            background-color:transparent;
        }
        
        &.shop a:after{
            content:'';
            @extend %fill-all;
            background-color:transparent;
            transition:background-color .3s;
        }
        
        &.shop a:hover:after,
        &.shop a.go:after{
            background-color:rgba($monkey-green,.9);
        }
    }
    
}