@charset "UTF-8";

.klippekort{
    
    padding:$base-margin;
    background:darken($monkey-white,2);
    box-shadow: $base-shadow;
    margin-bottom: $base-margin;
    
    ul{
        padding-left: 0;
        margin-bottom: 20px;
    }
    
    .kort-header{
        border-bottom: 1px solid $monkey-light;
        padding:$base-margin/2 0px $base-margin*1.5;
    }
    
    .kort-title{
        font-weight:normal;
        font-size: 110%;
        display: inline-block;
        vertical-align: middle;
    }
    
    .kort-desc{
        display: block;
        vertical-align: middle;
        @media only screen and(min-width:480px){
            float:right;
            display: inline-block;
        }
    }

}


li.task {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0;
    padding: $base-margin 0px;
    font-size: 90%;
    position:relative;
    list-style: none;
    
    &.status-0{
        border-bottom: 1px solid $monkey-red;
    }
    
    &.status-1{
        border-bottom: 1px solid $monkey-yellow;
    }
    
    &.status-2{
        border-bottom: 1px solid $monkey-black;
    }
    
    &.status-3{
        border-bottom: 1px solid $monkey-green;
    }
    
    &:hover,
    &.open{
        &:after{
            content:'';
            position:absolute;
            z-index:0;
            background:lighten($monkey-green,100);
            top:0;
            bottom:0;
            left:-$base-margin;
            right:-$base-margin;
        }
    }
}

.task-header{
    text-align: right;
    cursor:pointer;
    
    span{
        
            
        display: inline-block;
        padding:$base-margin/2 0 $base-margin/2 $base-margin/2;
        min-width: 40px;
        
    }
    
    @media only screen and(max-width:480px){
        .task-time,.task-hours{
            display: none;
        }
    }
    
    .task-title{
        padding:$base-margin/2 0 $base-margin/2 20px;
        white-space: nowrap;
        @media only print{
             padding:$base-margin/2 0;
        }
        float:left;
        font-weight:700;
        background-size:15px;
        background-repeat: no-repeat;
        background-position:center left;
        
        &:after{
            padding:0 $base-margin/2;
            font-size: 75%;
            opacity:0;
            transition:opacity 100ms;
        }
        
        
    }
    
    &:hover {
        
        .task-title:after{
            opacity:1;
        }
    }
}

.task.open .task-title:after{
    opacity:1;
}

.status-0 .task-title{
    background-image:url('../libs/img/icons/error_outline.svg');
    
    &:after{
        content:'Inaktiv';
        color:$monkey-red;
    }
}

.status-1 .task-title{
    background-image:url('../libs/img/icons/swap_vertical_circle.svg');
    
    &:after{
        content:'Afventer';
        color:$monkey-yellow;
    }
}

.status-2 .task-title{
    background-image:url('../libs/img/icons/av_timer.svg');
    
    &:after{
        content:'Igang';
        color:$monkey-black;
    }
}

.status-3 .task-title{
    background-image:url('../libs/img/icons/check_circle.svg');
    
    &:after{
        content:'Udført';
        color:$monkey-green;
    }
}


.task.open .task-body,
.task.open .task-footer{
    display: block;
    z-index:1;
    position:relative;
    
}
.task-body, 
.task-footer{
    display: none;
    @media only print{
        display: block;
    }
}


.task-footer{
    border-top:1px solid $monkey-light;
    padding:$base-margin 0;
    color:lighten($monkey-black,20);
    font-size:80%;
}

.kort-footer{
    text-align: right;
    padding:$base-margin/2 0;
}