///**///***///**///
//* Base Styles *//
///**///***///**///
html,body{
    
    font-family:$base-font;
    font-weight: $base-font-weight;
    @extend %font-size;
    box-sizing:border-box;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    background:$monkey-light;
    
    
    
}

::selection {
      background: $monkey-green; /* WebKit/Blink Browsers */
    }
::-moz-selection {
      background: $monkey-green; /* Gecko Browsers */
    }

body *{
    box-sizing:inherit;
    backface-visibility: inherit;
    text-rendering: inherit;
}

img{
    max-width:100%;
    height:auto;
}

header,section,footer{
    position: relative;
    z-index:1;
    clear:both;
    display: block;
    overflow: auto;
}

.hidden{
    display:none;
}

article{
    
    @extend %article-font-style;
}

.center{
    text-align: center;
}