///**///***///**///
//* Base Styles *//
///**///***///**///
html,body{
    
    font-family:$base-font;
    font-weight: $base-font-weight;
    font-size:$base-font-size;
    @media only screen and(min-width:480px){font-size:$base-font-size-480;}
    @media only screen and(min-width:640px){font-size:$base-font-size-640;}
    @media only screen and(min-width:960px){font-size:$base-font-size-960;}
    transition:font-size .2s;
    box-sizing:border-box;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    background:$monkey-light;
    
    
    
}

::selection {
      background: $monkey-green; /* WebKit/Blink Browsers */
    }
::-moz-selection {
      background: $monkey-green; /* Gecko Browsers */
    }

body *{
    box-sizing:inherit;
    backface-visibility: inherit;
}

img{
    max-width:100%;
    height:auto;
}

header,section,footer{
    position: relative;
    z-index:1;
    clear:both;
    display: block;
    overflow: auto;
}

.hidden{
    display:none;
}

article{
    
    @extend %article-font-style;
}