///**///***///**///
//* Base Styles *//
///**///***///**///
html,body{
    
    font-family:'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing:border-box;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    
}

body *{
    box-sizing:inherit;
    backface-visibility: inherit;
}

img{
    width:100%;
    max-width:100%;
}

header,section,footer{
    display: block;
    clear: both;
    overflow: auto;
}

.hidden{
    display:none;
}