%fill-all{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

%base-padding{
    padding:$base-margin;
}

%centered-read{
    max-width:$read-width-max;
    margin:auto;
    text-align: left;
}

%article-font-style{
    line-height:$base-line-height;
}

%font-size{
    font-size:$base-font-size;
    transition:font-size .2s;
    @media only screen and(min-width:480px){font-size:$base-font-size-480;}
    @media only screen and(min-width:640px){font-size:$base-font-size-640;}
    @media only screen and(min-width:960px){font-size:$base-font-size-960;}
}

%font-shadow{
    text-shadow:1px 1px 2px rgba($monkey-black,.2);
}

%dark-marker, .dark-marker{
    display: inline;
    background:$monkey-black;
    color:$monkey-white;
    box-decoration-break: clone;
    padding:5px 10px;
    
}

%light-marker, .light-marker{
    display: inline;
    background:$monkey-white;
    color:$monkey-black;
    box-decoration-break: clone;
    padding:5px 10px;
    
}

%paper-container{
    padding:$base-margin;
    background:lighten($monkey-light,10);
}