@charset "utf-8";

// FONT
$base-font:'Lato',sans-serif;
$base-font-weight: 300;

$base-font-size: 14px;
$base-font-size-480: 14px;
$base-font-size-640: 15px;
$base-font-size-960: 16px;



$base-line-height:1.4;

// FARVE
$monkey-white: #ffffff;
$monkey-light: #ebebeb;
$monkey-black: #343434;
$monkey-black-2: #454545;
$monkey-green: #669999;
$monkey-red: #c04545;


// Højde bredde basic
$base-margin:13px;
$page-width-max:1600px;
$read-width-max:640px;



// skygger
$base-shadow: 1px 1px 4px rgba($monkey-black,.3);
$bigger-shadow: 1px 1px 10px rgba($monkey-black,.4);


// Menu width
$menu-width:240px;
$menu-transition-time:.2s;
$menu-transition-timing-function:cubic-bezier(.73, .15, .5, 1.5);