$description-color: #fff;

.sectioned-article .section-description{
    color:$description-color;
    font-size:0;
    margin:0;
    overflow: auto;
    padding:0 0 20px;
    @media only screen and(min-width:640px){
        padding:$base-margin $base-margin 80px;
    }

    border:$base-margin solid $monkey-white;
    
    .column{
        padding:$base-margin*2 $base-margin;
        
        @media only screen and(min-width:480px){
             padding:$base-margin*2;
        }
        
        display: inline-block;
        vertical-align: top;
        @extend %font-size;
        
        width: 100%;
        
        &.small{
            
            p{
                margin-bottom:0;
                
            }
            
        }
        
        @media only screen and(min-width:768px){
            
            &.medium{
            width:calc(100% - 320px);
            }

            &.small{
                position: absolute;
                top: $base-margin;
                right: $base-margin;
                width:320px;
                
                
            }

            &.column-left,
            &.column-center{

                clear:left;
                float:left;
            }
        
        
        }
        
        
        
        
        @media only screen and(min-width:1160px){
            
            &.column-left,
            &.column-center{
                
                clear:none;
                float:none;
            }
            
            &.medium{
                width:33%;
                max-width:480px;
            }
        
            
            
        }
        
        
        h3{
            text-transform: uppercase;
            margin-bottom: $base-margin;
        }
        
        .text{
            border-top:1px solid $description-color;
            padding:20px 0px 17px;
            
            a{
                text-decoration: none!important;
            }
            
            .task{
                padding-left:20px;
                position:relative;
                
                
                
                &:before{
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 2px;
                    width: 5px;
                    height: 11px;
                    border-bottom: 3px solid #fff;
                    border-right: 3px solid #fff;
                    transform: rotate(40deg);
                }
            } 
        }
        
        .tasks a{
            
            display: block;
            opacity:.7;
            transition: opacity 120ms;
            
            &.current-case,
            &:hover{
                opacity:1;
            }
            
        }
    }
}
