.sectioned-article .sectioned-header,
.video-overlay{
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    border:$base-margin solid $monkey-light;
    
    .page-header-title{
        @include center(true,true);
        width:calc(100% - #{$base-margin} * 2);
    }
    
    h1{
        
        font-size: 200%;
        line-height:1.9;
        
        @media only screen and(min-width:480px){
            font-size:225%;
        }
        @media only screen and(min-width:640px){
            font-size:250%;
        }
        @media only screen and(min-width:768px){
            font-size:300%;
            white-space: nowrap;
        }
        
    }
    span{
        font-size: 150%;
    }
    
}