.sectioned-article .sectioned-header{
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    border:$base-margin solid $monkey-light;
    
    .page-header-title{
        @include center(true,true);
    }
    
    h1{
        font-size:300%;
        white-space: nowrap;
    }
    span{
        font-size: 150%;
    }
    
}